/* physics 按上－右－下－左的顺序作用于四边 
* { 
	margin:0;
	padding:0;
}							*/
html{
	overflow-y: scroll;
}
body{
	MARGIN: 0px;
	PADDING: 0px; 
/*	font-family: verdana, Arial, Helvetica, sans-serif; */
	font-size:14px;
	line-height : 20px;
	background:#cdcdcd url(/images/bg_top.gif) repeat-x;
	color:#666666;
	height:100%; text-align: center; 
}
div#out_container{
/*	min-height:100%-201px;*/
}
div#wrapper{
	width:950px;
/*	height: 100%; */
	margin:0px auto;
	padding-bottom:0px; 
}
#sub_header{
	height:74px;
	border-bottom:5px solid #804010;
	background:#fff url(/images/sub_header_bg.gif) right top no-repeat;
}
#logo{
	padding-left:20px;
	padding-top:8px;
}
div#menu{
	background:#fff;
}

a{text-decoration:none; color:#7d5224;}
a:hover { text-decoration: underline; background-color:#FFcc66; color:#003366;}

a.menu0 { color: #FFFFFF; text-decoration: none; font-weight:normal; font-size:12px;}
a.menu0:hover { background-color:transparent; color:#C65F14;}

div#main{
	padding:20px 15px;
	background:#fff;
}
div#main ul li{
	margin-left:30px;
	line-height : 24px;
}
/*institutes end*/
div#main ul li div#sub_main ul li div#sub_main ul li a:visited{
	color:#814010;
	text-decoration:none;
}
div#imgNews{
	width:256px;
	height:183px;
	float:left;
	margin-right:12px;
}
div#listNewsL{
	width:4px;
	height:183px;
	background:url(/img/news_bg_corner.gif);
	float:left;
}
div#listNewsM{
	height:163px;
	background:url(/img/news_bg.gif);
	float:left;
	width:624px;
	padding:10px 5px;
	color:#7d5224;
}
div#listNewsM div.title{
	font-weight:bold;
	margin-bottom:10px;
	float:left;
}
div#listNewsM div.more{
	float:right;
}
div#listNewsM tr,div#contentR tr{
	height:18px;
}
div#listNewsM td,div#contentR td{
	padding-left:5px;
	padding-right:5px;
}
div#listNewsM td.f9f5f2,div#contentR td.f9f5f2{
	background:#f9f5f2;
}
div#listNewsM a,div#listNewsM a:hover,div#listNewsM a:visited{
	text-decoration:none;
	color:#7d5224;
	background:url(/img/newsIco.gif) left 50% no-repeat;
	padding-left:8px;
}
div#listNewsM div.more a{
	background:none;
	padding-left:0px;
}
div#listNewsR{
	width:4px;
	height:183px;
	background:url(/img/news_bg_corner.gif) right;
	float:left;
}
div#contentL{
	width:256px;
	float:left;
	margin-right:12px;
	margin-top:15px;
}
div#contentL ul li{
	list-style:none;
	line-height:16px;
	padding-left:8px;
}
div#contentL ul li a{
	text-decoration:none;
	color:#63721b;
	background:url(/img/newsIco.gif) left 50% no-repeat;
	padding-left:8px;
}
div#contentL ul li a.a_normal{
	text-decoration:none;
	color:#63721b;
	background:none;
	padding-left:0px;
}
div#contentL ul li.break{
	border-bottom:1px dotted #d7c2af;
	margin-bottom:10px;
	padding-bottom:10px;
}
div#contentR{
	width:642px;
	float:left;
	margin-top:15px;
}
div#contentR_titleL{
	height:24px;
	width:3px;
	background:url(/img/contentR_corner.gif);
	float:left;
}
div#contentR_titleM{
	height:24px;
	width:636px;
	background:#c3b199;
	float:left;
	color:#fff;
}
div#contentR_titleM div.title{
	font-weight:bold;
	float:left;
	margin-top:5px;
	padding-left:6px;
}
div#contentR_titleM div.more{
	float:right;
	margin-top:5px;
}
div#contentR_titleM div.more a{
	text-decoration:none;
	color:#fff;
}
div#contentR_titleR{
	height:24px;
	width:3px;
	background:url(/img/contentR_corner.gif) right top;
	float:left;
}
div#contentR a{
	text-decoration:none;
	color:#7d5224;
	margin-left:5px;
}
div#quickLink{
	margin-top:15px;
}
div#quickLinkL{
	width:3px;
	height:28px;
	background:url(/img/contentR_corner.gif);
	float:left;
}
div#quickLinkM{
	width:636px;
	height:28px;
	line-height:28px;
	background:#c3b199;
	float:left;
	color:#fff;
	text-align:center;
}
div#quickLinkM a{
	color:#fff;
}
div#quickLinkR{
	width:3px;
	height:28px;
	background:url(/img/contentR_corner.gif) right;
	float:left;
}
div#main_end{
	height:5px;
	width:950px;
	background:url(/img/main_bottom_bg.gif);
	overflow:hidden;
}
div#grey_out{
	background:#cdcdcd;
	padding:0 50px;
}
div#grey{
	width:850px;
	height:45px;
	line-height:45px;
	background:#877965 url(/img/grey_bg.gif) left bottom no-repeat;
	font-size:12px;
	text-align:right;
	color:#f3e7d4;
	
}
div#grey a,div#grey a:hover,div#grey a:visited{
	color:#f3e7d4;
	text-decoration:none;
}

div#footer{
	background:#cdcdcd;
/*	position:absolute;*/
	bottom:0;left:0;
	width:100%;
	height:100px;
}
div#footer_red{
	height:40px;
	padding-top:10px;
	background:#6b0000;
	margin-top:50px;
}
div#footer_text{
	font-size:12px;
	color:#bc7c37;
	width:950px;
	margin:0px auto;
	text-align:center;
	vertical-align:text-top;
	position:relative;
}
div#footerSL{
	width:38px;
	height:74px;
	background:url(/img/footer_stone.gif);
	position:absolute;
	left:-50px;
	bottom:30px;
}
div#footerSR{
	width:38px;
	height:74px;
	background:url(/img/footer_stone.gif) right;
	position:absolute;
	right:-50px;
	bottom:30px;
}
div#sub_topLink{
	text-align:right;
	padding-right:10px;
	padding-top:60px;
}
div#nav a,div#nav a:hover,div#nav a:visited{
	color:#333;
	text-decoration:none;
}
div#nav{
	text-align:left;
	font-size:12px;
	padding-left:20px;
	padding-top:10px;
	background:#fff;
}
h4 {	background:#ebebeb; }
