body{
	background-image: url(../images/background.png);
	padding: 0;
	margin: 0;
}

#container{
	width: 960px;
	height: 870px;
	background-color: #F1F1F1;
	margin: 0 auto;
	-webkit-box-shadow: #666 0px 0px 8px;	/* webkit核心浏览器中的css阴影 */
	-moz-box-shadow: #666 0px 0px 8px;		/* Firefox中的css阴影 */
	box-shadow: #666 0px 0px 8px;			/* Opera & IE9.0+ css阴影 */
	behavior: url(PIE.php)
	position: relative;
}

#footer{
	width: 960px;
	height: 40px;
	margin: 20px auto;
	margin-bottom: 0px;
}

#top{
	width: 960px;
	height: 130px;
	background-image: url(../images/banner.jpg);
}

#leftmenu{
	width: 200px;
	height: 100%;
	float: left;
	padding-top: 10px;
}

#left{
	width: 440px;
	/*height: 200px;*/
	float: left;
}

#right{
	float: left;
	width: 320px;
}

#center{
	margin: 10 auto;
	height: 675px;
	width: 100%;
	padding: 10px 0 0 0;
	z-index: 0;
}

#main{
	width: 760px;
	float: left;
}

/* 计时器部分 */

.ctdown{
text-align: center;
font-weight: bold;
color: #4A4A4A;
font-family: 微软雅黑,宋体;
font-size: 1.2em;
padding: 1px 0 1px 0;
}

p .time{
color:#c21017;
text-align: center;
}

.cd-time{
color:red;
}

/* 页脚部分 */
#text{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 0.8em;
	color: #4A4A4A;
}
