.module{
	width: 95%;
	margin: 10px auto;
	background-color: white;
	-webkit-box-shadow: #888 0px 0px 8px;	/* webkit核心浏览器中的css阴影 */
	-moz-box-shadow: #888 0px 0px 8px;		/* Firefox中的css阴影 */
	box-shadow: #888 0px 0px 8px;			/* Opera & IE9.0+ css阴影 */
	behavior: url(PIE.php);
	position: relative;
}


.module_leftmenuitem{
	width: 90%;
	margin: 10px auto;
	background-color: white;
	-webkit-box-shadow: #888 0px 0px 8px;	
	-moz-box-shadow: #888 0px 0px 8px;		
	box-shadow: #888 0px 0px 8px;			
	behavior: url(PIE.php);
	position: relative;
}


.module_center{
	width: 730px;
	margin: 10px auto;
	background-color: white;
	-webkit-box-shadow: #888 0px 0px 8px;	/* webkit核心浏览器中的css阴影 */
	-moz-box-shadow: #888 0px 0px 8px;		/* Firefox中的css阴影 */
	box-shadow: #888 0px 0px 8px;			/* Opera & IE9.0+ css阴影 */
	behavior: url(PIE.php);
	position: relative;
}

.module_right{
	width: 290px;
	margin: 10px auto;
	background-color: white;
	-webkit-box-shadow: #888 0px 0px 8px;	/* webkit核心浏览器中的css阴影 */
	-moz-box-shadow: #888 0px 0px 8px;		/* Firefox中的css阴影 */
	box-shadow: #888 0px 0px 8px;			/* Opera & IE9.0+ css阴影 */
	behavior: url(PIE.php);
	position: relative;
}

.module_content{
	width: 95%;
	margin: 0 auto;
	padding: 5px 0 10px 0;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #555;
}

.module_header{
	width: 95%;
	height: 25px;
	margin: 0 auto;
	padding: 10px 0 5px 0;
	font-size: 1.1em;
	font-weight: bold;
	font-family: "宋体", "黑体", "宋体";
	color: #555 ;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-color: #A1A1A1;
	}

.module_title{
	float: left;
}

.module_more{
	float: right;
	font-size: 9pt;
	font-weight: normal;
}

.module_more a{
	color: #555;
	display: block;
	}

.module_more a:hover{
	text-decoration: underline;
}

.module_item{
	float: left;
}

.module_line{
	margin: 5px 0 0 0;
	height: 1.5em;
}

.lecture_line{
	margin: 5px 0 0 0;
	height: 3em;
}

.module_date{
	float: right;
}

a{
	text-decoration: none;
	color: #555;
}

.module_line a{
	color: #555;
}

.module_author {
	font-size: 0.9em;
	color: #666;
	width: 275px;
	font-family: 微软雅黑,宋体;
}

.module_author_part{
	float: left;
	width: 230px;
}

.module_content a{
	display: block;
}

.module_content a:hover{
	background: #FFEEE7;
}

tbody {
	width: 95%;
}

.hits {
	color: #D38484;
}

#news-attach {
	width: 95%;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 15px;
	font-size: 14px;
	color: #900000;
}

#news-attach a {
	color: #900000;
}

.attach-title {
	width: 95%;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(104,104,104);
}
