.clear {
	clear:both
}

#gallery {
	position:relative;
	width: 418px;
	height:236px;
	-webkit-box-shadow: #666 0px 0px 10px;	/* webkit核心浏览器中的css阴影 */
	-moz-box-shadow: #666 0px 0px 10px;		/* Firefox中的css阴影 */
	box-shadow: #666 0px 0px 10px;			/* Opera & IE9.0+ css阴影 */
	behavior: url(PIE.php);
	position: relative;
	margin: 10px auto;
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500
	}

	#gallery .caption {
		z-index:600; 
		background-color:#000; 
		color:#ffffff; 
		height:70px; 
		width:100%; 
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:5px
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#1DCCEF;
	}
