BeautifulSoup==3.2.1
CXX==6.2.4
Editra==0.7.20
Flask==0.10.1
Flask-Admin==1.0.6
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Moment==0.5.1
Flask-RESTful==0.2.12
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-Themes==0.1.3
Flask-WTF==0.10.3
Jinja2==2.8
M2Crypto==0.21.1
Mako==1.0.3
Markdown==2.5.1
MarkupSafe==0.23
Markups==0.2.4
MySQL-python==1.2.5
Pillow==2.4.0
PyDispatcher==2.0.5
PyOpenGL==3.0.2
PyYAML==3.11
Pygments==2.0.1
SQLAlchemy==1.0.9
Scrapy==1.1.0dev1
Sphinx==1.2.2
Twisted==15.3.0
Twisted-Conch==0.0.0
Twisted-Core==13.2.0
Twisted-Mail==0.0.0
Twisted-Names==0.0.0
Twisted-Web==0.0.0
WTForms==2.0.1
Werkzeug==0.11
alembic==0.8.3
aniso8601==0.83
## FIXME: could not find svn URL in dependency_links for this package:
apsw==3.8.7.1-r1
beautifulsoup4==4.3.2
blinker==1.3
cffi==1.2.1
characteristic==14.3.0
configobj==5.0.5
cryptography==1.0
cssselect==0.9.1
cssutils==0.9.9
dnspython==1.9.4
docutils==0.12
enum34==1.0.4
feedparser==5.2.1
gdbus-codegen==2.42.2
## FIXME: could not find svn URL in dependency_links for this package:
gentoolkit==0.3.0.9-r2
git-cola==1.8.2
idna==2.0
ipaddress==1.0.14
itsdangerous==0.24
java-config==2.2.0
javatoolkit==0.3.0
jsonpickle==0.4.0
layman==2.0.0
lxml==3.3.5
mechanize==0.2.5
mercurial==3.3.2
mingc==0.4.4
netifaces==0.8
parsel==0.9.6
ply==3.4
portage==2.2.20
py==1.4.25
pyOpenSSL==0.15.1
pyalsa==1.0.26
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.63
pycurl==7.19.0
pyenchant==1.6.5
pygobject==3.10.2
pyinotify==0.9.4
pytest==2.7.1
python-dateutil==2.1
python-editor==0.4
pythonutils==0.4.0
pytz==2014.10
pyxdg==0.25
queuelib==1.2.2
rabbitvcs==0.16.0
scons==2.3.0
service-identity==14.0.0
setuptools-git==1.0
setuptools-hg==0.4
simplejson==3.7.2
six==1.9.0
vboxapi==1.0
virtualenv==12.0.5
w3lib==1.12.0
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
zope.interface==4.1.2
