<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/foundation.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css') }}">

      <!-- This is how you would link your custom stylesheet -->
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/scaffolds.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/foundation_and_overrides.css') }}">
      <script src="{{ url_for('static', filename = 'js/vendor/modernizr.js') }}"></script>

      <script src="{{ url_for('static', filename = 'js/vendor/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename = 'js/foundation.min.js') }}"></script>


      <!--WARNING: Make js import error:{{ moment.include_jquery() }}-->
      {{ moment.include_moment() }}

      {% block custom_css %}
      {% endblock %}
    <title> {% block title%} {%endblock%} </title>
  </head>
  
  <body>

    <div class="container">
      <header>
      {% include 'layouts/_header.html' %}
      </header>

      <section class="content-wrapper">
        <!-- <div class="sidebar">
          {% block sidebar %}
          {% endblock %}
        </div> -->

        <div class="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="flash">
              <ul class="none">
              {% for message in messages %}
                <li class="none">{{ message }}</li>
              {% endfor %}
              </ul>
              </div>
            {% endif %}
            {% endwith %}

        	{% block content %}
        	{% endblock %}
        </div>
      </section>
    </div>
    
    {% include 'layouts/_footer.html' %}
  </body>
</html>

  <script>
    $(document).foundation();
  </script>