$ContentPaddingWD: 0px;
$ContainerWD: 1170px;

html{
    height: 100%;
      margin: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,STXihei,"Microsoft YaHei","微软雅黑",sans-serif;
  line-height: 18px;
  height: 100%;
}

p, ol, ul, td {
  font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,STXihei,"Microsoft YaHei","微软雅黑",sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration:none;
  &:visited {
    color: #666;
  }
  &:hover {
    color: blue;
    text-decoration:none;

  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    padding-top: 5px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.container{
  background: #FFF none repeat scroll 0% 0%;
  padding: 0px;
  filter: none;
  width: 100% !important;
  min-height: 90%;
  min-width: 900px;
  /* equal to footer height */
  padding-right: 10px; 
}

.content-wrapper{
  width:80%;
  height:100%;
  background:#FFF;
  min-height: 600px;
  margin: 10px auto 0px;
}

.alert .alert-notice{
  padding-left:$ContentPaddingWD;  
}

.content {
  width:80%;
  margin: 0px auto 0px;
}


.debug-info{
  /*padding-left:230px;*/
  padding-right: 10px;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

footer{
  padding: 30px 0px;
  background-color: #F5F5F5;
  font-size: 12px;
  text-align: center;

  clear: both;
  height: 10%;
  position: relative;
  float:bottom;
}

/******************************others***********************************/

/* sidebar */
.sidebar{
  padding-left: 10px;
  padding-top: 0px;
  width: 20%;
  height:100%;
  min-height: 600px;
  float:left;
}

.sidebar-wrapper{
  transition-duration:.3s;
  width:100%;
}

/* pagination */
.pagination{
  em, span, a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857;
    color: #337AB7;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
  }
  em{
    background-color: #EEEEEE;
  }
   padding-bottom: 50px;
}

blockquote {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    font-size: 15px;
    border-left: 5px solid #EEE;
}

.jumbotron{
  background-color: white;
}


.alert {
    background-color: #FFDBDC;
}

.flash{
  background-color: #FFDBDC;
  ul{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom:10px;
  }
}

table{
  width:100%;
}

.fullw{
    width:100%;
    min-width: 100%;
    margin-left: 0px;
    margin-right: 0px;   
}