// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-login-form{
	width:400px;
	margin:0 auto;
}

.btn-login{
	width:100px;
}